DB_URL=postgres://dev:root@localhost:5432/postgres

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

NEXT_PUBLIC_BASE_URL= # Optional. Defaults to http://localhost:3000

FILE_STORAGE_DIR=

JUNO_API_KEY=
JUNO_BASE_URL=http://localhost:8888
SENDGRID_KEY=
